@page "/books"
@inject BlazorApp27.Data.BlazorApp27Context DB
@inject NavigationManager NavigationManager
@using BlazorApp27.Model

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <FluentAnchor IconStart="@(new Icons.Regular.Size24.FormNew())" Href="books/create" />

</p>

<FluentDataGrid Items="@books" TGridItem="Books">
    <PropertyColumn Property="books => books.Title" />
    <PropertyColumn Property="books => books.Author" />
    <PropertyColumn Property="books => books.Description" />
    <PropertyColumn Property="books => books.Genre" />
    <PropertyColumn Property="books => books.Publisher" />
    <PropertyColumn Property="books => books.PublishedDate" />
    <PropertyColumn Property="books => books.ISBN" />

    <TemplateColumn>
        <FluentAnchor IconStart="@(new Icons.Regular.Size24.Edit())" Href="@($"books/edit?id={context.Id}")" />
        <FluentAnchor IconStart="@(new Icons.Regular.Size24.AppsListDetail())" Href="@($"books/details?id={context.Id}")" />
        <FluentAnchor IconStart="@(new Icons.Regular.Size24.Delete())" Href="@($"books/delete?id={context.Id}")" />
    </TemplateColumn>
</FluentDataGrid>


@code {
    IQueryable<Books>? books;

    protected override void OnInitialized()
    {
        books = DB.Books.ToList().AsQueryable();
    }

    private void OnRowClick(int id)
    {
        NavigationManager.NavigateTo($"books/details?id={id}");
    }
}